/* You can add global styles to this file, and also import other style files */
 @import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/saga-orange/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");

.m35 {
    margin: 35px;
}

.m8 {
    margin:8px
}

.ht50{
    height: 50px;
}

.dispFlex {
  display: flex;
}

.mt_7 {
  margin-top: -4px;
}
