<div class="m35 bgColorCl">
    <p-dropdown id="ddId" [options]="albumDropdown" (onChange)="onChangeAlbum($event)" placeholder="Select an Album"
        optionLabel="albumName"></p-dropdown>
</div>

<div class="flexContainer">
    <div *ngFor="let item of filteredCollection">
        <div class="m8">
            <div *ngFor="let value of item">
                <app-card [photoCardHeader]="value.title" [thumbNail]="value.thumbnailUrl" [picUrl]="value.url">
                </app-card>
            </div>
        </div>
    </div>
</div>
